<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApp1.Properties.Settings.C_sharp_practiceConnectionString"
            connectionString="Data Source=DESKTOP-OG504DE;Initial Catalog=C_sharp_practice;Persist Security Info=True;User ID=sa;Password=Remete1212!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>